body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
main
{
    display:flex;
    flex-direction:column;

}
main>aside
{
    flex-basis:30%;
    border:solid black;
}
main>article
{
    flex-grow:1;
    border:solid black;
    
}
article > ol
{
    display: grid;
    list-style-type: none;
    grid-template-columns: 1em repeat(18, minmax(60px, 1fr));
    grid-gap: 2px 2px;
    padding:0;
    
}
.Group {
    text-align: center;
    color: #003660;
    line-height:1;
}
.Period {
    align-self: center;
    text-align: right;
    color: #003660;
    line-height: 1;
}
.Gas 
{
    color: #900;
}
.Nonmetal {
    background-color: hsl(120deg, 73%, 74%);
}
.Noble
{
    background-color: hsl(300deg, 44%, 82%);
}
.Alkali 
{
    background-color: hsl(48deg, 77%, 64%);
}
.Alkaline
{
    background-color: hsl(60deg, 83%, 67%);
}
.Metalloid 
{
    background-color: hsl(165deg, 58%, 76%);
}
.Poor
{
    background-color: hsl(192deg, 62%, 80%);
}
li {
    line-height: 0.9;
    display: block;
    font-weight: normal;
    padding: 0.2rem;
    pointer-events: none;
}
em,data
{
    font-size:0.8em;
    font-style:normal;
}
b {
    font-size: 1em;
    font-weight: normal
}
abbr {
    font-weight: 600;
    font-size: 1.5em;
}
.EmptyRegion
{
    grid-column:4/14;
    grid-row:2/5;
}
.EmptyRegion2
{
    grid-column:14/19
}
.Description > abbr
{
    font-size: 1em;
    font-weight:600;
    line-height:1.3;
}
