@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body {
    font-family: Roboto Condensed;
    font-size:24px;
}
p
{
    text-align:justify;
}
figure
{
    text-align:center;
    font-style:italic;
    font-size: 16px;
}
table 
{
    border-collapse: collapse;
    table-layout: auto;
    width: 100%;
}
.thead 
{
    background: #6b5fb5;
    color:white;
}
td 
{
    border: 1px solid #aeaed3;
    text-align:center;
}
blockquote 
{
    font-family: sans-serif;
    font-style: italic;
    position: relative;
    line-height: 1.5em;
    margin: 1em 0 1em 40px;
}
blockquote::before {
    color: #ccc;
    font-size: 62px;
    content: "❝";
    display: block;
    position: absolute;
    top: -5px;
    left: -35px;
}
ul
{
    list-style-type:none;
}
a
{
    color: #7070b7;
}
li::before
{
    content: '\2022';
    color: #7070b7;
    /*display: inline-block;*/
   margin-right: 5px;
    /*position: absolute;*/
    /*margin-left: -12px;*/
}
a:visited
{
   /*color:red;*/
}
/*a:hover
{
    font-weight:800;
    background-color:darkblue;
}*/
