body
{
  background-image:url('img/bliss.jpg');
  background-size:auto;
    font-family:Tahoma;
   
}


#main-window {
  
    width: 400px;
    height:400px;
    display: flex;
    flex-direction: column;
}

#title-bar
{
    background-color:blue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color:white;
    text-shadow:1px 1px 0px black;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-basis:10%
   
}
#title-bar img
{
    width:30px;
    height:30px;
    margin:4px;
}
#window-icon-and-title {
    display: flex;
    align-items: center;
}
#window-control-buttons {
   margin-right:8px;
    display:flex;
    gap:0 2px;
}
#window-control-buttons > input[type=button]
{
        border-radius: 4px;
        border: 2px solid white;
        background-color: blue;
        width: 30px;
        height: 30px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        text-align:center;
}

#client-rect
{
    background: rgb(236,233,216);
    display:flex;
    flex-grow:1;
    border:4px solid blue;
    border-top:none;
    flex-direction:column;
}
#client-rect>*
{

}
#menu-bar
{
    display:flex;
    /*margin:4px 0 4px;*/
    margin:4px;
    border-bottom:1px solid white;
    flex-basis:7%;
    gap:5px;
}
#menu-bar>button
{
    border:none;
    font-size:16px;
    font-weight:600;
    background: rgb(236,233,216);
}
#display
{
    display:flex;
    flex-basis:10%;
    margin:0 12px 0 12px;

}
#display>input[type=text]
{
    flex-grow:1;
    /*margin:0 8px 0 8px;*/
    text-align:right;
    font-size:16px;
}
.num-pad
{
    display:flex;
    margin:14px;
    flex-direction:column;
    flex-grow:1;
    gap:10px;
}
#top-line
{
    display:flex;
    /*flex-grow:1;*/
    justify-content:space-between;
}
#top-line-button
{
   /*flex-grow:1;*/
  flex-basis:80%;
   display:flex;
   gap:10px;
}
#top-line-button>button, #memory-line>button, #main-lain>button
{
    color:red;
    font-size:18px;
    border-width:1px;
    border-radius:4px;
    flex-basis:0;
    flex-grow:1;
    padding:6px;
}
#square 
{
   border: inset 2px white;
   flex-basis:8%;
   margin-left:5px;
}
#main-button
{
    display:flex;
    flex-grow:1;
    gap:20px;
}
#memory-line 
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis:10%;
    /*flex-grow:1;*/
    /*height:100%;*/
    gap:10px;
}
#main-lain {
    display: grid;
    grid-template-columns:repeat(5,1fr);
    flex-grow:1;
    grid-gap:10px;
}