body
{
  background-image:url('img/bliss.jpg');
  background-size:auto;
    font-family:Tahoma;
   
}


#main-window {
    
    width:400px;
    height:300px;
    display:flex;
    flex-direction:column;
}
#title-bar
{
    background-color:blue;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color:white;
    text-shadow:1px 1px 0px black;
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}
#client-rect
{
    background: rgb(236,233,216);
    display:flex;
    flex-grow:1;
    border:4px solid blue;
    border-top:none;
    
   
}
#window-icon-and-title {
    display: flex;
    align-items: center;
}
#title-bar img
{
    width:24px;
    height:24px;
    margin:4px;
}
#window-control-buttons {
   margin-right:8px;
    display:flex;
    gap:0 2px;
}
    #window-control-buttons > input[type=button] {
        border-radius: 4px;
        border: 2px solid white;
        background-color: blue;
        width: 24px;
        height: 24px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        text-align:center;
    }